.App {
    height: 100vh;
  }
  
  .myForm {
    max-width: 300px;
    margin: 50px auto 0;
    padding: 20px;
  }

  #formContent {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
  }